* {
    box-sizing: border-box;
}

.background-img {
    margin: 0;
    padding: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

body {
    max-width: 70vw;
    margin: auto;
    font-family: "Lato", Arial, sans-serif;
    color: rgb(5, 5, 5);
}

header {
    text-align: center;
}

h1,
h2,
h3,
footer {
    font-family: "Libre Baskerville", "Alegreya", serif;
}

h1 {
    font-size: 50px;
}

hr {
    width: 100%;
    height: 8px;
    border: none;
    padding: none;
    background-color: salmon;
    margin: 2em auto 1em;
    border-radius: 5px;
}

p,
ul,
li {
    line-height: 1.25;
}

nav a {
    display: inline-block;
    border: hidden;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: salmon;
    font-size: 16px;
    border-radius: 3px;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav a:active {
    background-color: rgb(195, 195, 195);
    color: white;
}

nav {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    gap: 0.6em;
}

.date {
    color: dodgerblue;
}

a {
    color: dodgerblue;
}

a:hover {
    color: salmon;
}

b {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3em;
}

#leftie {
    float: left;
}

#rightie {
    float: right;
}

.active {
    background-color: rgb(195, 195, 195);
}

.ss {
    max-width: 100%;
    height: 300px;
    border: 3px solid lightgrey;
    border-radius: 20px;
}

.ss:hover {
    filter: invert(1);
}

.center {
    text-align: center;
    margin-bottom: 20px;
}