* {
    box-sizing: border-box;
}

body {
    max-width: 70vw;
    margin: auto;
    font-family: "Lato", Arial, sans-serif;
    color: rgb(5, 5, 5);
}

header {
    text-align: center;
}

h1, 
h2,
footer {
    font-family: "Libre Baskerville", "Alegreya", "Times New Roman", serif;
}

h1 {
    font-size: 40px;
}

img {
    border-radius: 50px;
    max-width: 80%;
}

.mini {
    width: 50%;
    height: 8px;
    border: none;
    padding: none;
    background-color: rgb(200, 200, 150);
    margin: 2em auto;
    border-radius: 5px;
}

.biggie {
    height: 8px;
    border: none;
    padding: none;
    background-color: rgb(200, 200, 150);
    margin-top: 2em;
    border-radius: 5px;
}

p,
ul,
li {
    line-height: 1.4;
    word-spacing: 0.2em;
}

nav a {
    display: inline-block;
    border: hidden;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(200, 200, 150);
    font-size: 16px;
    border-radius: 3px;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    gap: 0.6em;
}

a {
    color: rgb(150, 150, 112.5)
}

sup {
    font-size: 0.75em;
    vertical-align: super;
    line-height: 0;
}

b {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
}

#leftie {
    float: left;
}

#rightie {
    float: right;
}